@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}




.projects-light {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 50px;
  // background-color: #ffffff;
  background-color:#f9fafb;
  min-height: 677px !important;
  // height: 75vh;
}

.projects-title {
  .title {
    font-family: "Fira Sans";
    font-size: 2.5rem;
    margin-top: 4rem;
    display: inline-block;
    border-bottom: 0.3125rem solid rgba(59, 130, 246, 0.85);
    color: #4b5563;
    width: 9.2rem;
    text-align: left;
    margin-bottom: 1.25rem;
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .project-name {
    font-family: "Fira Sans";
    font-size: 1.8rem;
    margin-top: 0rem;
    display: inline-block;
    // border-bottom: 0.25rem solid rgba(59, 130, 246, 0.85);
    color: #4b5563;
    text-align: left;
    margin-bottom: 1.25rem;
    margin-right: auto;
    margin-top:40px;
    border-bottom:3px solid rgb(59, 130, 246);
  }

  .project-description-image {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 2rem 4rem;
  }

  .project-image img {
    

    
    object-fit: cover;
    border-radius: 10px;
    display: block;
    // width: 400px;
    width:40vw;
    aspect-ratio: 0.84673119726;
    
  }

  .project-description {
    
    color: #6b747b;
    line-height: 1.6;
    width: 50vw;
    margin-top: -20px;
    margin-left: -40px;
    padding-left: 6rem;
    padding-right: 2rem;
    border-radius: 5px;
    background-color: #d0e1fd3b;
    min-height:520px;
    border: 3px solid rgba(208, 225, 253);
    aspect-ratio: 0.98307692307;
  }

  .description-text{
    margin-top:-20px;
  }
}




.project-description {
  position: relative;
  z-index: 1;   
}

.project-image {
  position: relative;
  z-index: 2;  
}


.features-list {
  margin-top: 1rem;
  padding-left: 1.5rem;
  line-height: 1.6;
  color: #6b747b;
}

.features-list li {
  margin-bottom: 0.5rem;
}

.features{
  color:#4b5563;
}


.techs {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // gap: 1.25rem;
  // padding-left: 3.75rem;
  // padding-right: 3.75rem;
  // margin-top: 1.25rem;
  // margin-bottom: 6.25rem;
  display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.25rem;
    // /* padding-left: 3.75rem; */
    // /* padding-right: 3.75rem; */
    margin-top: 3.25rem;
    // /* margin-bottom: 6.25rem;
  
}

.tech {
  // display: flex;
  // flex-direction: column;
  // width: 7.5rem;
  // height: 6.25rem;
  // justify-content: center;
  // align-items: center;
  // display: flex;
  //   flex-direction: column;
  //   width: 2.55rem;
  //   height: 2.6rem;
  //   justify-content: center;
  //   align-items: center;

    display: flex;
    flex-direction: column;
    width: 2.55rem;
    // height: rem;
    justify-content: center;
    align-items: center;
}

.tech {
  .tech-image {
    // background-size: cover;
    // height: 2.55rem;
    // width: 2.571875rem;
    background-size: cover;
    height: 2.5rem;
    width: 2.5rem;

    // background-size: cover;
    // height: 2.55rem;
    // width: 2.571875rem;
  }

  .tech-title {
    // font-family: "montserrat";
    // color: var(--bluegray-600);
    // font-weight: bold;
    // margin-bottom: 0rem;

    font-family: "montserrat";
    color: var(--bluegray-600);
    font-weight: bold;
    margin-bottom: 0rem;
    font-size: small;
  }
}