@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}




.projects-light {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 50px;
  // background-color: #ffffff;
  background-color:#f9fafb;
  min-height: 677px !important;
  // height: 75vh;
}

.projects-title {
  .title {
    font-family: "Fira Sans";
    font-size: 2.5rem;
    margin-top: 4rem;
    display: inline-block;
    border-bottom: 0.3125rem solid rgba(59, 130, 246, 0.85);
    color: #4b5563;
    width: 9.2rem;
    text-align: left;
    margin-bottom: 1.25rem;
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .project-name {
    font-family: "Fira Sans";
    font-size: 1.8rem;
    margin-top: 0rem;
    display: inline-block;
    // border-bottom: 0.25rem solid rgba(59, 130, 246, 0.85);
    color: #4b5563;
    text-align: left;
    margin-bottom: 1.25rem;
    margin-right: auto;
    margin-top:40px;
    border-bottom:3px solid rgb(59, 130, 246);
  }

  .project-description-image {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 2rem 4rem;
  }

  .project-image .shortURL-image {
    
  background-image:url("../../assets/images/urlshortener-image.png");
  background-size: cover;  
  object-fit: cover;
  border-radius: 10px;
  display: block;
  // width: 444px;
  // height:524.362px;
  width:470px;
  height:550px;
  // width:30vw;
  // aspect-ratio: 0.84673119726;
  
  //  height:85vh;
    
  }

  .project-description {

    --pd-left: 6rem;   /* your current padding */
    --pd-right: 2rem;  /* your current padding */

     padding-left: var(--pd-left);
     padding-right: var(--pd-right);
    
    color: #6b747b;
    line-height: 1.6;
    // width: 60vw;
    flex:1 1 60vh;
    margin-top: -20px;
    margin-left: -40px;
    padding-left: var(--pd-left);
    padding-right: var(--pd-right);
    border-radius: 5px;
    background-color: #d0e1fd3b;
    // min-height:520px;
    border: 3px solid rgba(208, 225, 253);
    // aspect-ratio: 0.98307692307;
    // height:80vh;
  }

  .description-text{
    margin-top:-20px;
  }



   .p-button {
    // background-color: rgb(59, 130, 246);
    // color: white;
    // border: none;
    // background: rgb(59, 130, 246);
    // margin: 1.25rem; 
    // margin-top: 4.375rem; 
    // padding-left: 2.5rem; 
    // padding-right: 2.5rem; 
    // padding-top: 0.9375rem; 
    // padding-bottom: 0.9375rem; 
    // height: 3.125rem; 

    // background-color: rgb(59, 130, 246);
    // color: white;
    // border: none;
    // background: rgb(59, 130, 246);
    // margin: 1.25rem;
    // /* margin-top: 4.375rem; */
    // padding-left: 2.5rem;
    // padding-right: 2.5rem;
    // padding-top: 0.9375rem;
    // padding-bottom: 0.9375rem;
    // height: 2.75rem;

    // background-color: rgb(59, 130, 246);
    // color: white;
    // border: none;
    // background: rgb(59, 130, 246);
    // margin: 1.25rem;
    // /* margin-top: 4.375rem; */
    // padding-left: 8rem;
    // padding-right: 8rem;
    // padding-top: 0.9375rem;
    // padding-bottom: 0.9375rem;
    // height: 2.75rem;


    background-color: rgb(59, 130, 246);
    color: white;
    border: none;
    background: rgb(59, 130, 246);
    margin: 1.25rem;
    /* margin-top: 4.375rem; */
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    height: 2.75rem;
    font-size: 0.9rem;
    border-radius:20px;
    // background:rgb(101 150 232);
  }


   .p-button-icon-right {
        font-size: 0.9rem; 
      }

}




.project-description {
  position: relative;
  z-index: 1;   
}

.project-image {
  position: relative;
  z-index: 2;  
}


.features-list {
  margin-top: 1rem;
  padding-left: 1.5rem;
  line-height: 1.6;
  color: #6b747b;
}

.features-list li {
  margin-bottom: 0.5rem;
}

.features{
  color:#4b5563;
  font-weight: 700;
}

.Tech{
  color:#4b5563;
  font-weight: 700;
}



.techs {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // gap: 1.25rem;
  // padding-left: 3.75rem;
  // padding-right: 3.75rem;
  // margin-top: 1.25rem;
  // margin-bottom: 6.25rem;
  display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // gap: 3.25rem;
    // // /* padding-left: 3.75rem; */
    // // /* padding-right: 3.75rem; */
    // margin-top: 3.25rem;
    // // /* margin-bottom: 6.25rem;
    gap: 3.25rem;
    row-gap: 1.5rem;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
  
}

.tech {
  // display: flex;
  // flex-direction: column;
  // width: 7.5rem;
  // height: 6.25rem;
  // justify-content: center;
  // align-items: center;
  // display: flex;
  //   flex-direction: column;
  //   width: 2.55rem;
  //   height: 2.6rem;
  //   justify-content: center;
  //   align-items: center;

    display: flex;
    flex-direction: column;
    width: 2.55rem;
    // height: rem;
    justify-content: center;
    align-items: center;
}

.tech {
  .tech-image {
    // background-size: cover;
    // height: 2.55rem;
    // width: 2.571875rem;
    background-size: cover;
    height: 2.3rem;
    width: 2.3rem;

    // background-size: cover;
    // height: 2.55rem;
    // width: 2.571875rem;
  }

  .tech-title {
    // font-family: "montserrat";
    // color: var(--bluegray-600);
    // font-weight: bold;
    // margin-bottom: 0rem;

    font-family: "montserrat";
    color: var(--bluegray-600);
    font-weight: bold;
    margin-bottom: 0rem;
    font-size: small;
  }
}

.demo{

    // width: 3rem;
    // padding: 0.75rem 0;
    // margin-left: 6rem;
    // background-color: rgb(59, 130, 246);
    // border: none;

    width: 3rem; 
    /* height: 3rem; */
    /* padding: 0.75rem 0; */
    margin-left: 1rem;
    /* background-color: rgb(59, 130, 246); */
    border: none;
    font-size: 2rem;
    color:#78abff;
}

.github{

    // width: 3rem;
    // padding: 0.75rem 0;
    // margin-left: 6rem;
    // background-color: rgb(59, 130, 246);
    // border: none;
    font-size: 2rem;
    /* padding: 0.75rem 0; */
    margin-left: 6rem;
    /* background-color: rgb(59, 130, 246); */
    border: none;
   

}


// .p-button.p-button-icon-only {
//     width: 3rem;
//     padding: 0.75rem 0;
//     margin-left: 6rem;
// }

// .readMore{
//   // display:flex;
//   // gap:1.25rem;
//   // margin-bottom:2.5rem;
//   //  margin-left: calc(-1 * var(--pd-left));
//   // margin-right: calc(-1 * var(--pd-right));


//     display: flex; 
//     justify-content: center;
//     align-items: center;
   
//     margin-left: calc(-1 * var(--pd-left));
//     margin-right: calc(-1 * var(--pd-right));

    
  
//     // padding-top: 3rem;
//     // padding-bottom: 3rem;
//     // background-color: rgb(116 142 185 / 30%);
// }


.readMore {
    display: flex
;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   

}
@media screen and (max-width: 1200px) { 

  .techs {
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    row-gap: 1.5rem;
    margin-top: 2.3rem;
}

.tech {
    display: flex
;
    flex-direction: column;
    width: 2.55rem;
    justify-content: center;
    align-items: center;
}


.tech .tech-title {
    font-family: "montserrat";
    color: var(--bluegray-600);
    font-weight: bold;
    margin-bottom: 0rem;
    font-size: 13px;
}

.tech .tech-image {
    background-size: cover;
    height: 2.3rem;
    width: 2.3rem;
}


}  


@media screen and (max-width: 1100px) { 

.projects-container .project-description { 
  
 height:unset; 
}  

.techs {
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    row-gap: 1.5rem;
    margin-top: 1.85rem;
}

.tech .tech-image {
    background-size: cover;
    height: 2.1rem;
    width: 2.1rem;
}


.tech .tech-title {
    font-family: "montserrat";
    color: var(--bluegray-600);
    font-weight: bold;
    margin-bottom: 0rem;
    font-size: 12px;
}

.projects-container{
.project-image .shortURL-image {
    

    
    object-fit: cover;
    background-size: cover;
    border-radius: 10px;
    display: block;
    // width: 400px;
    // height:550px;
    width: 444px;
    height:524.362px;
    // width:30vw;
    // aspect-ratio: 0.84673119726;
    
    //  height:85vh;
    
  }
}

}


@media screen and (max-width: 1050px) {


  .projects-container{
.project-image .shortURL-image {
    background-image:url("../../assets/images/urlShortener-image1.png");
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    // width: 400px;
    // height:550px;
    // width: 444px;
    // height:524.362px;
    width: 430px;
    height:570px; 
}
  }

}


@media screen and (max-width: 1000px) { 


.projects-container{
.project-image .shortURL-image {
    

    background-image:url("../../assets/images/urlShortener-image1.png");
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    // width: 400px;
    // height:550px;
    // width: 444px;
    // height:524.362px;
    width: 400px;
    height:600px;
    
    // width:30vw;
    // aspect-ratio: 0.84673119726;
    
    //  height:85vh;
    
  }
}

}