@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Fira Sans";
  src: url("../../assets/fonts/FiraSans-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.projects-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 50px;
  gap:30px;
  background-color: #f9fafb;
  min-height: 677px !important;
  background: linear-gradient(180deg, var(--surface-d) 0.45%, #f9fafb 0.45%, #f9fafb); 
}

.projects-title {
  text-align: center;

  .subtitle{
    font-family: "montserrat";
    color: #727a85;
    font-size: 19px;
    font-style: italic;
    margin-top: 20px;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.1);

  }
  .title {
    font-family: "Fira Sans";
    font-size: 2.5rem;
    margin-top: 7rem;
    display: inline-block;
    border-bottom: 0.3125rem solid rgba(59, 130, 246, 0.85);
    color: #4b5563;
    width: 9.2rem;
    text-align: left;
    margin-bottom: 1.25rem;
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;

  .project-name {
    font-family: "Fira Sans";
    font-size: 1.8rem;
    margin-top: 0rem;
    display: inline-block;
    color: #4b5563;
    text-align: left;
    margin-bottom: 1.25rem;
    margin-right: auto;
    margin-top: 40px;
    border-bottom: 3px solid rgb(59, 130, 246);
    .projectNumber {
      font-style: normal;
      margin-right: 10px;
    }
  }

  .project-description-image {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    padding: 2rem 4rem;
  }

  .project-image .shortURL-image {
    background-image: url("../../assets/images/UrlShortener-image12.png");
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    background-position: center top;
    // width:800px;
    // height:550px;
    height: 95%;
  }

  .project-description {
    --pd-left: 4.7rem;
    --pd-right: 2rem;

    padding-left: var(--pd-left);
    padding-right: var(--pd-right);

    color: #6b747b;
    line-height: 1.6;

    flex: 1 1 60vh;
    margin-top: -20px;
    margin-left: -40px;
    padding-left: var(--pd-left);
    padding-right: var(--pd-right);
    border-radius: 5px;
    background-color: #d0e1fd3b;
    border: 3px solid rgba(208, 225, 253);
  }

  .description-text {
    margin-top: -20px;
  }

  .project-image-small{
    display:none;
  }

  .p-button {
    color: white;
    border: none;
    background: rgba(59, 130, 246, 1);
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    height: 2.75rem;
    font-size: 0.9rem;
    border-radius: 20px;
    flex: 1 1;
  }

  .demo {
    .p-button-icon-right {
      font-size: 1rem;
    }
  }

  .github {
    .p-button-icon-right {
      font-size: 1.2rem;
    }
  }
}

.project-description {
  position: relative;
  z-index: 1;
}

.project-image {
  position: relative;
  z-index: 2;
  width: 45%;
}

.Tech i {
  vertical-align: middle;
  margin-right: 7px;
}

.features i {
  vertical-align: middle;
  margin-right: 7px;
}

.features-list {
  margin-top: 1rem;
  padding-left: 1.5rem;
  line-height: 1.6;
  color: #6b747b;
}

.features-list li {
  margin-bottom: 0.5rem;
}

.features {
  color: #4b5563;
  font-weight: 700;
  margin-top: 30px;
}

.Tech {
  color: #4b5563;
  font-weight: 700;
  margin-top: 30px;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 3.25rem;
  row-gap: 1.5rem;
  margin-top: 1.8rem;
  margin-bottom: 2.3rem;
}

.tech {
  display: flex;
  flex-direction: column;
  width: 2.55rem;

  justify-content: center;
  align-items: center;
}

.tech {
  .tech-image {
    background-size: cover;
    height: 2.3rem;
    width: 2.3rem;
  }

  .tech-title {
    font-family: "montserrat";
    color: var(--bluegray-600);
    font-weight: bold;
    margin-bottom: 0rem;
    font-size: small;
  }
}

.demo,
.github {
  font-size: 1rem;
  border-radius: 20px;
  flex: 1 1 auto;

  text-align: center;
  flex: 1;
  min-width: 200px;
}

// .github{

//     font-size: 2rem;

//     margin-left: 6rem;

//     border: none;

// }

.readMore {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  row-gap: 1rem;
  margin-top: 3rem;
  justify-content: center;
  margin-bottom: 3rem;
}

@media screen and (min-width: 2000px) {
  .projects-container {
    width: 65%;
  }
}

@media screen and (max-width: 2000px) {
  .projects-container {
    .project-image .shortURL-image {
      background-image: url("../../assets/images/UrlShortener-image25.png");
    }
  }
}

@media screen and (max-width: 1600px) {
  .project-image {
    width: 45%;
  }

  .projects-container {
    .project-image .shortURL-image {
      background-image: url("../../assets/images/UrlShortener-image16.png");

      width: unset;
      height: 95%;
    }
  }
}
@media screen and (max-width: 1200px) {
  .project-image {
    width: 50%;
  }

  .projects-container {
    .project-image .shortURL-image {
      background-image: url("../../assets/images/UrlShortener-image17.png");

      width: unset;
      height: 95%;
    }
  }

  .techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    row-gap: 1.5rem;
    margin-top: 1.8rem;
  }

  .tech {
    display: flex;
    flex-direction: column;
    width: 2.55rem;
    justify-content: center;
    align-items: center;
  }

  .tech .tech-title {
    font-family: "montserrat";
    color: var(--bluegray-600);
    font-weight: bold;
    margin-bottom: 0rem;
    font-size: 13px;
  }

  .tech .tech-image {
    background-size: cover;
    height: 2.3rem;
    width: 2.3rem;
  }
}

@media screen and (max-width: 1100px) {
  .projects-container .project-description {
    height: unset;
  }

  .techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    row-gap: 1.5rem;
    margin-top: 1.85rem;
  }

  .tech .tech-image {
    background-size: cover;
    height: 2.1rem;
    width: 2.1rem;
  }

  .tech .tech-title {
    font-family: "montserrat";
    color: var(--bluegray-600);
    font-weight: bold;
    margin-bottom: 0rem;
    font-size: 12px;
  }

  .projects-container {
    .project-image .shortURL-image {
      object-fit: cover;
      background-size: cover;
      border-radius: 10px;
      display: block;
    }
  }
}

@media screen and (max-width: 1050px) {
  .projects-container {
    .project-image .shortURL-image {
      background-image: url("../../assets/images/UrlShortener-image18.png");
      background-size: cover;
      object-fit: cover;
      border-radius: 10px;
      display: block;
    }
  }
}

@media screen and (max-width: 1000px) {
  .projects-container {
    .project-image .shortURL-image {
      background-image: url("../../assets/images/UrlShortener-image22.png");
      background-size: cover;
      object-fit: cover;
      border-radius: 10px;
      display: block;
    }
  }




}



@media screen and (max-width: 960px) {
   .projects-container{
   .project-description-image {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
  
  }
   
  .project-image {
    //  width:unset; 
    // .shortURL-image {
    // background-image: url("../../assets/images/UrlShortener-image12.png");
    // background-size: cover;
    // object-fit: cover;
    // border-radius: 10px;
    // display: block;
    // background-position: center top;
    // // width:800px;
    // // height:550px;
    // width:80vw;
    // height:40vh;
    display:none;
    
  }
  
  // .project-description {
  //   --pd-left: 4.7rem;
  //   --pd-right: 2rem;

  //   padding-left: var(--pd-left);
  //   padding-right: var(--pd-right);

  //   color: #6b747b;
  //   line-height: 1.6;

  //   flex: 1 1 60vh;
  //   // margin-top: -20px;
  //   // margin-left: -40px;
  //   padding-left: var(--pd-left);
  //   padding-right: var(--pd-right);
  //   border-radius: 5px;
  //   background-color: #d0e1fd3b;
  //   border: 3px solid rgba(208, 225, 253);
  // }

    .project-description {
        --pd-left: 2rem;
        --pd-right: 2rem;
        color: #6b747b;
        line-height: 1.6;
        border-radius: 5px;
        background-color: rgba(208, 225, 253, 0.231372549);
        border: 3px solid rgb(208, 225, 253);
        margin:0px;
        margin-top:-40px;
        flex:none;

        .description-text{
          margin-top: -40px;
          margin-bottom: 40px;
          text-align: center;
        }

        .project-name{
          
          display: block;
          width: fit-content;
          color: #4b5563;
          margin-bottom: 1.25rem;
          margin-right: auto;
          margin-left: auto;
          margin-top: 20px;
          border:none;
    
        }

        .project-image-small{

        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin-top: 60px;
        margin-bottom: 60px;
          .shortURL-image{
            // display:block;
            // background-image: url("../../assets/images/UrlShortener-image30.png");
            // background-size: cover;
            // object-fit: cover;
            // background-position: center top;
            // border-radius: 10px;
            // width:100%;
            // height:100%;
            display: block;
            background-image: url(/src/assets/images/UrlShortener-image30.png);
            background-size: cover;
            object-fit: cover;
            background-position: center top;
            border-radius: 10px;
            width: 80%;
            height: 100%;
            
          }

        }
    }
  
}

}    


@media screen and (max-width: 750px) {




  .projects-container{
    
    .project-description {
        
       

        .project-image-small{

       
          .shortURL-image{
            
            display: block;
            background-image: url(/src/assets/images/UrlShortener-image31.png);
            background-size: cover;
            object-fit: cover;
            background-position: center top;
            border-radius: 10px;
            width: 80%;
            height: 100%;
            
          }

        }
    }
  
}


}

@media screen and (max-width: 600px) {
    
  .projects-title .subtitle {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  } 
   .projects-container{

    .project-description-image {
        
        padding: 2rem 2rem;
    }
    .project-description {
        
       

        .project-image-small{
          
       
          .shortURL-image{
            
            display: block;
            background-image: url(/src/assets/images/UrlShortener-image31.png);
            background-size: cover;
            object-fit: cover;
            background-position: center top;
            border-radius: 10px;
            width: 95%;
            height: 100%;
            
          }

        }
    }
  
}


}


@media screen and (max-width: 500px) {




.projects-container{

    .project-description-image {
        
        padding: 2rem 1.5rem;
    }



   
    .project-description {
        
       

        .project-image-small{
          
       
          .shortURL-image{
            
            display: block;
            background-image: url(/src/assets/images/UrlShortener-image31.png);
            background-size: cover;
            object-fit: cover;
            background-position: center top;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            
          }

        }      
      }
    }

  }


  @media screen and (max-width: 400px) {


  .projects-title .title {
   
    font-size: 28.8px;
    width:unset;
   
}

.projects-title .subtitle {
   
    font-size: 17px;
    
}

.projects-container .project-name {
   
    font-size: 1.4rem;
}


.projects-container .project-description .description-text {
       
        font-size: 15px;
  }

  .features-list {
    
    font-size: 15px;
}

.tech .tech-image {
       
        height: 1.8rem;
        width: 1.8rem;
    }

.tech .tech-title {
    
    font-size: 11px;
}   

.projects-container .p-button {
    
    height: 2.5rem;
    font-size: 0.85rem;
    
}

.projects-container .demo .p-button-icon-right {
    font-size: 0.95rem;
}

.projects-container .github .p-button-icon-right {
    font-size: 1.15rem;
}


.projects-container .project-description .project-image-small .shortURL-image {
        
        background-image: url(/src/assets/images/UrlShortener-image34.png);
        
    }


  }  