

@font-face {
  font-family: "montserrat";
  src: url("/custom_assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
 
}

@font-face {
  font-family: "DotMatrix";
  src: url("/custom_assets/fonts/DotMatrix-BoldItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  font-family: "cabin";
  src: url("/custom_assets/fonts/Cabin-VariableFont_wdth,wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  font-family: "nexa";
  src: url("/custom_assets/fonts/Nexa-Heavy.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  
}

.home-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.home-developer {
  background-size: contain;
  height: 21.25rem; 
  width: 21.25rem; 
  align-content: center;
  background-repeat: no-repeat;
  transform: translateY(-3.125rem); 
  transition:
    transform 0.6s ease-out,
    opacity 0.6s ease-out;
}



.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem; 
}

.home-description {
  display: flex;
  flex-direction: column;
  gap: 0.625rem; 
  padding-left: 0rem; 
  align-items: center;

  .home-title {
    color: var(--surface-600);
    font-size: 3.2rem;
    font-weight: 700;
    font-family: "nexa", sans-serif;
    text-align: center;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.3); 
    line-height: 1.2;
    transform: translateX(-3.125rem); 
    opacity: 0;
    transition:
      transform 2s ease-out,
      opacity 0.6s ease-out;
  }

  .home-title.moved {
    transform: translateX(0rem);
    opacity: 1;
  }

  .home-subtitle {
    font-size: 3.2rem;
    padding-top: 0.9375rem; 
    font-family: "nexa";
    color: var(--surface-600);
    text-align: center;
    font-weight: bolder;
    line-height: 1.2;
    width: 82%;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.3); 
    transform: translateX(3.125rem); 
    opacity: 0;
    transition:
      transform 2s ease-out,
      opacity 0.6s ease-out;
  }

  .home-subtitle.moved {
    transform: translateX(0rem);
    opacity: 1;
  }

  .home-paragraph {
    font-size: 1.4rem;
    font-family: "montserrat";
    color: black;
    text-align: center;
    width: 80%;
    padding-top: 1.25rem; 
    padding-bottom: 0.625rem; 
    text-shadow: 0rem 0rem 0.0625rem rgba(0, 0, 0, 0.3); 
    opacity: 0;

    transition: opacity 3.2s ease-out;
    .react {
      color: rgb(59, 130, 246);
      font-style: italic;
      font-weight: bolder;
    }

    .express {
      color: rgb(59, 130, 246);
      font-style: italic;
      font-weight: bolder;
    }
  }

  .home-paragraph.moved {
    opacity: 1;
  }

  .home-small-image {
    display: none;
    background-image: url("/custom_assets/images/home-developer6.png");
    height: 16.875rem; 
    width: 16.875rem; 
  }

  .home-mid-image {
    display: none;
  }

  .button-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-name {
    color: rgb(59, 130, 246);
  }

  .p-button {
    background-color: rgb(59, 130, 246);
    color: white;
    border: none;
    background: rgb(59, 130, 246);
    margin: 1.25rem; 
    margin-top: 4.375rem; 
    padding-left: 2.5rem; 
    padding-right: 2.5rem; 
    padding-top: 0.9375rem; 
    padding-bottom: 0.9375rem; 
    height: 3.125rem; 

    
  }

  .p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--blue-400), 0 1px 2px 0 rgb(0, 0, 0);
}

  .p-button-label {
    padding: 0rem;
  }

  .p-button:not(:disabled):hover {
    background: rgb(35, 119, 255);
    color: #ffffff;
  }
}

.home-light {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/custom_assets/images/home-light.jpg");
  background-size: cover;
  // min-height: 42.3125rem !important; 
  // height: 75vh;
  height:100vh;
  

  .home-image {
    .home-developer {
      background-image: url("/custom_assets/images/home-developer9.png");
    }
  }
}

.home-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/custom_assets/images/home-dark1.png");
  background-size: cover;
  // min-height: 42.3125rem !important; 
  // height: 60vh;
  height:100vh;

  .home-description {
    .home-title {
      color: var(--surface-600);
    }

    .home-subtitle {
      color: var(--surface-600);
    }

    .home-paragraph {
      color: var(--surface-900);
    }

    .p-button {
      color: #ffffff;
      background: rgb(59, 130, 246);

      .p-button-icon {
        color: #ffffff;
      }
    }
  }

  .home-image {
    .home-developer {
      background-image: url("/custom_assets/images/amjad-portfolio-image-Blue-glow1.png");
      height: 21.75rem; 
      width: 21.46875rem; 
    }
  }
}


// @media screen and (min-width: 2000px) {

//   .home-light,.home-dark{
//     height:75vh;
//   }

// }


@media screen and (max-width: 960px) { 
  .home-light,
  .home-dark {
    min-height: unset !important;
    height: 45.4375rem; 
  }

  .home-developer {
    display: none;
  }

  .home-description {
    margin-top: 0rem;
    margin-bottom: 3.125rem; 

    .home-title{
      transition:
      transform 1s ease-out,
      opacity 0.6s ease-out;
    }

    .home-subtitle{
      transition:
      transform 1s ease-out,
      opacity 0.6s ease-out;
    }

    .home-paragraph{
       transition: opacity 2s ease-out;
    }

    .home-small-image {
      display: block;
      background-image: url("/custom_assets/images/home-developer9.png");
      height: 15.9375rem; 
      width: 13.125rem; 
      transform: translateX(3.125rem);
      opacity: 0;
      transition:
        transform 0.8s ease-out,
        opacity 0.8s ease-out;
       background-size: cover;
     }

    .home-small-image.moved {
      transform: translateX(0rem);
      opacity: 1;
    }

    .p-button {
      margin-top: 1.875rem; 
      font-size: 0.875rem; 
      height: 2.6875rem; 
      padding-left: 1.875rem;
      padding-right: 1.875rem; 
    }

    .button-section {
      margin-top: 2.5rem; 
      gap: 2.5rem; 
    }
  }

  .home-dark {
    .home-description {
      .home-small-image {
        background-image: url("/custom_assets/images/amjad-portfolio-image-Blue-glow1.png");
        height: 16.25rem; 
        width: 13.25rem; 
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .home-description {
    margin-top: 0rem;

    .home-paragraph {
      font-size: 1.3rem;
    }

    .home-title {
      font-size: 2.8rem;
    }

    .home-subtitle {
      font-size: 2.8rem;
      width: 75%;
    }

    .home-small-image {
      height: 15.3125rem; 
      width: 12.5rem; 
    }

    .p-button {
      height: 2.6875rem; 
      font-size: 0.875rem;

      .p-button-icon-right {
        font-size: 0.875rem; 
      }
    }
  }
}

@media screen and (max-width: 615px) { 
  .home-light,
  .home-dark {
    height: 55.125rem; 
    align-items: unset;
  }

  .home-description {
    margin-top: 2.5rem; 

    .home-title {
      transform: translateX(-1.25rem); 
    }

    .home-subtitle {
      transform: translateX(1.25rem); 
    }

    .p-button {
      padding-left: 2.1875rem; 
      padding-right: 2.1875rem; 
    }

    .home-small-image {
      display: none;
    }

    .home-mid-image {
      display: block;
      background-image: url("/custom_assets/images/home-developer9.png");
      height: 15.3125rem; 
      width: 12.5rem; 
      transform: translateY(-1.25rem); 
      opacity: 0;
      margin-top: 3.125rem; 
      background-size: cover;
      transition:
      transform 0.6s ease-out,
      opacity 0.6s ease-out;

      // transform 0.8s ease-out 0.6s,
      // opacity 0.8s ease-out 0.6s; 
    }

    .home-mid-image.moved {
      transform: translateX(0rem);
      opacity: 1;
    }
  }
}

.home-dark {
  .home-description {
    .home-mid-image {
      background-image: url("/custom_assets/images/amjad-portfolio-image-Blue-glow1.png");
      height: 15.625rem; 
      width: 12.8125rem; 
    }
  }
}

@media screen and (max-width: 500px) { 
  .home-light,
  .home-dark {
    height: 53.125rem; 
    align-items: unset;
  }

  .home-description {
    margin-top: 2.8125rem; 

    .home-title {
      transform: translateY(-1.875rem); 
    }

    .home-subtitle {
      transform: translateY(1.875rem); 
    }

    .home-subtitle.moved {
      transform: translateY(0rem);
    }

    .p-button {
      padding-left: 2.1875rem; 
      padding-right: 2.1875rem; 
      font-size: 0.875rem; 

      .p-button-icon-right {
        font-size: 0.875rem; 
      }
    }

    .home-title {
      font-size: 2.4rem;
    }

    .home-subtitle {
      font-size: 2.4rem;
    }

    .home-paragraph {
      font-size: 1.2rem;
      width: 90%;
    }

    .home-mid-image {
      height: 15.3125rem; 
      width: 12.5rem; 
    }
  }
}

@media screen and (max-width: 400px) {
  .home-light,
  .home-dark {
    height: 46.875rem; 
  }

  .home-description {
    padding-left: 0rem;
    margin-top: 2.5rem; 

    .home-title {
      transform: translateY(-1.25rem); 
    }

    .home-subtitle {
      transform: translateY(1.25rem); 
    }

    .p-button {
      padding-left: 1.25rem; 
      padding-right: 1.25rem; 
      font-size: 0.8125rem; 
      height: 2.5rem; 

      .p-button-icon-right {
        font-size: 0.8125rem; 
      }
    }

    .home-title {
      font-size: 1.8rem;
    }

    .home-subtitle {
      font-size: 1.8rem;
      padding-top: 0.9375rem; 
    }

    .home-paragraph {
      font-size: 1rem;
      width: 85%;
    }

    .home-mid-image {
      height: 13.75rem; 
      width: 10rem; 
      background-repeat: no-repeat;
      background-size: contain;
    }

    .button-section {
      margin-top: 0rem;
      gap: 0rem;
    }
  }

  .home-dark {
    .home-description {
      .home-mid-image {
        background-image: url("/custom_assets/images/amjad-portfolio-image-Blue-glow1.png");
        height: 14.0625rem; 
        width: 10.3125rem; 
      }
    }
  }
}
