@font-face {
  font-family: "montserrat";
  src: url("/custom_assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/custom_assets/fonts/FiraSans-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.about-light,
.about-dark {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  padding-left: 3.75rem;
  padding-right: 3.75rem;

  gap: 3.125rem;
  min-height: 100vh !important;
}

.about-light {
  background: linear-gradient(
    180deg,
    var(--gray-400) 5px,
    #f4f4f4 5px,
    #f4f4f4 100%
  );
}

.about-dark {
  background: linear-gradient(180deg, #495363 5px, #25292f 5px, #25292f 100%);

  .text {
    .text-title {
      color: rgba(255, 255, 255, 0.87);
    }

    .text-description {
      color: var(--blue-100);
    }
  }

  .skills {
    .skill {
      .skill-title {
        color: var(--surface-500);
      }
    }
  }
}

.avatar-border {
  width: 16.25rem;
  height: 21.25rem;
  border: 0.1875rem solid rgba(59, 130, 246, 0.85);
  border-radius: 0.3125rem;
  box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.25);
  margin-top: 2.5rem;
}

.avatar-image {
  width: 16.25rem;
  height: 21.25rem;
  border-radius: 0.3125rem;
  transform: translateX(1.875rem) translateY(-1.875rem);
  // background: url("/custom_assets/images/test.jpeg");
  background: url("/custom_assets/images/amjad-photo.jpeg");
  background-size: cover;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.375rem;
  margin-top: 6.25rem;
  padding-left: 0.625rem;
}

.text {
  width: 55%;

  .text-title {
    font-family: "Fira Sans";
    font-size: 2.5rem;
    margin-top: 0rem;
    display: inline-block;
    border-bottom: 0.3125rem solid rgba(59, 130, 246, 0.85);
    color: #4b5563;
    width: 6.875rem;
    text-align: left;
    margin-bottom: 1.25rem;
  }

  .text-description {
    text-align: left;
    font-family: "montserrat";
    color: #6b747b;
    line-height: 1.5rem;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.1);
    font-size: 1.0625rem;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  margin-top: 1.25rem;
  margin-bottom: 6.25rem;
}

.skill {
  display: flex;
  flex-direction: column;
  width: 7.5rem;
  height: 6.25rem;
  justify-content: center;
  align-items: center;
}

.skill {
  .html {
    background-size: cover;
    height: 2.55rem;
    width: 2.571875rem;
  }

  .skill-title {
    font-family: "montserrat";
    color: var(--bluegray-600);
    font-weight: bold;
    margin-bottom: 0rem;
  }
}

.midavatar-skills {
  display: flex;
}

.midavatar {
  display: none;
}

@media screen and (max-width: 960px) {
  .about-light,
  .about-dark {
    height: unset;
    background: linear-gradient(
      180deg,
      var(--gray-400) 0.35%,
      #f4f4f4 0.35%,
      #f4f4f4
    );
  }

  .about-light {
    background: linear-gradient(
      180deg,
      var(--gray-400) 5px,
      #f4f4f4 5px,
      #f4f4f4
    );
  }

  .about-dark {
    background: linear-gradient(180deg, #495363 5px, #25292f 5px, #25292f 100%);
  }

  .avatar {
    display: none;
  }

  .text {
    width: unset;

    .text-title {
      display: block;
      text-align: center;
      margin-bottom: 3.125rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .midavatar-skills {
    display: flex;
    justify-content: center;
    gap: 0rem;
  }

  .skills {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .skill {
    width: 6.25rem;
    height: 5rem;

    .skill-title {
      font-size: 0.8125rem;
    }
  }

  .skill {
    font-family: "montserrat";
    color: var(--bluegray-600);
    font-weight: bold;
    margin-bottom: 0rem;
  }

  .midavatar {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .about-light,
  .about-dark {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .skill {
    width: 6.25rem;
    height: 5rem;

    .skill-title {
      font-size: 0.8125rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .about-light,
  .about-dark {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .midavatar {
    width: 15rem;
    height: 20rem;
  }

  .avatar-border {
    border: none;
    width: 15rem;
    height: 20rem;
    margin-top: 0rem;
  }

  .avatar-image {
    width: 15rem;
    height: 20rem;
    border: 0.1875rem solid rgba(59, 130, 246, 0.85);
    transform: translateX(0rem) translateY(0rem);
  }

  .skill {
    width: 5.625rem;
    height: 4.375rem;

    .skill-title {
      font-size: 0.78125rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .about-light,
  .about-dark {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .text .text-title {
    font-size: 1.8rem;
    width: 5.3125rem;
  }

  .text .text-description {
    font-size: 0.9375rem;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 6.25rem;
    row-gap: 2.5rem;
    column-gap: 3.4375rem;
    width: 100%;
  }

  .avatar-border {
    border: none;
    width: 13.75rem;
    height: 18.75rem;
    margin-top: 0rem;
  }

  .avatar-image {
    width: 13.75rem;
    height: 18.75rem;
  }

  .midavatar {
    width: 13.75rem;
    height: 18.75rem;
  }

  .skill {
    width: 4.375rem;
    height: 3.125rem;

    .skill-title {
      font-size: 0.625rem;
    }
  }
}
