// @font-face {
//   font-family: "DotMatrix";
//   src: url("../../assets/fonts/DotMatrix-BoldItalic.otf") format("opentype");
//   font-weight: normal;
//   font-style: normal;
// }

// .navbar {
//   position: sticky;
//   top: 0;
//   z-index: 1000;
// }

// .p-menubar-light{

//     background:white !important;
//     box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2) !important;

//   }

// .navbar {
//   .p-menuitem-icon {
//     pointer-events: none;
//   }
//   .navbar-name {
//     font-family: "Dotmatrix" !important;
//     font-size: 19px;
//     padding-left: 10px;
//   }

//   .navbar-leftside {
//     display: flex;
//     gap: 15px;
//     align-items: center;
//   }

//   .lightmode-text {
//     display: none;
//     color: #4b5563 !important;
//     font-size: 15px;
//   }

//   .darkmode-text {
//     display: none;
//     color: rgba(255, 255, 255, 0.87) !important;
//     font-size: 15px;
//   }

//   .lightmode-icon {
//     color: #6b7280;
//   }
//   .darkmode-icon {
//     color: rgba(255, 255, 255, 0.6);
//   }

//   .lightmode-icon:hover {
//     color: #23262b;
//   }

//   .darkmode-icon:hover {
//     color: rgba(255, 255, 255, 1);
//   }

//   .lightmode-block {
//     display: flex;
//     justify-content: left;
//     align-items: center;
//     gap: 0.5rem;
//   }

//   .menuitem-clicked {
//     border-radius: 6px;
//     background: rgb(59 130 246) !important;
//     color: #fff;

//     .p-menuitem-text,
//     .p-menuitem-icon {
//       color: white;
//     }
//   }

//   .p-menubar {
//     justify-content: space-between;
//     border: none;
//     border-radius: 0px;
//     padding: 1rem 0.5rem;
//     // background:white;
//     // box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2);
//   }

  

//   .p-menubar > ul > li:not(:last-child) .p-menuitem-content {
//     background: transparent !important;
//   }

//   .p-menubar > ul > li:not(:last-child) .p-menuitem-content:hover {
//     background: rgb(59, 130, 246, 0.9) !important ;
//     color: #fff;

//     .p-menuitem-text,
//     .p-menuitem-icon {
//       color: white !important;
//     }
//   }

//   .p-menubar > ul > li:last-child .p-menuitem-content {
//     background: transparent !important;
//   }

//   .p-menuitem-content .p-menuitem-link {
//     padding: 0.75rem 0.75rem;
//     font-size: 15px;
//   }

//   .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
//     top: 100%;
//     z-index: 1;
//   }

//   .p-menubar > ul > li {
//     margin-right: 20px;
//   }

//   .p-menubar > ul > li:last-child {
//     margin-right: 0px !important;
//   }

//   .theme-toggle-btn {
//     color: #6b7280;
//     transition: color 0.3s ease;
//     background: transparent;
//     border: none;
//     padding: 0.675rem 0.75rem;
//     cursor: pointer;

//     &:hover {
//       color: #23262b !important;
//       transition: color 0.3s ease;
//     }

//     i {
//       font-size: 17px;
//     }
//   }
// }

// .navbar-light{

//     .p-menubar {
//     justify-content: space-between;
//     border: none;
//     border-radius: 0px;
//     padding: 1rem 0.5rem;
//     background:white;
//     box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2);
//   }


// }

// @media screen and (max-width: 960px) {
//   .navbar {
//     .lightmode-text {
//       display: block;
//     }
//     .darkmode-text {
//       display: block;
//     }
//     .p-menubar .p-menubar-root-list {
//       right: 10px !important;
//       width: 180px !important;
//       left: auto;
//     }

//     .p-menubar .p-menubar-button {
//       height: 40px;
//       width:40px;
//     }

//     .p-menubar > ul > li {
//       margin-right: 0px;
//     }

//     .p-menubar > ul > li:last-child {
//       margin-right: 0px;
//     }

//     .p-icon {
//       width: 2rem;
//       height: 1.2rem;
//     }
//     .theme-toggle-btn {
//       color: #4b5563;
//       background: transparent;
//       border: none;
//       padding: 0.675rem 0.75rem;

//       width: 100%;
//       cursor: pointer;

//       &:hover {
//         background: rgb(59, 130, 246, 0.9);
//         color: #fff;
//         .lightmode-icon,
//         .lightmode-text,
//         .darkmode-icon,
//         .darkmode-text {
//           color: white !important;
//         }
//       }
//     }
//   }
// }


// @media screen and (max-width: 400px) {
//  .navbar{
  
//   .navbar-name{
//     display:none;

//   }
//   .p-menubar{
//     padding-left:17px;
//   }

//  }  


// }



@font-face {
  font-family: "DotMatrix";
  src: url("../../assets/fonts/DotMatrix-BoldItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
 
}

@font-face {
  font-family: "Fira Sans";
  src: url("../../assets/fonts/FiraSans-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.p-menubar-light {
  background: white !important;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2) !important;
}

.navbar {

  .p-link:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #5d98fcd4 !important;
}

  .p-menuitem-icon {
    pointer-events: none;
  }

  .navbar-name {
    font-family: "Dotmatrix" !important;
    font-size: 1.1875rem; 
    padding-left: 0.625rem; 
  }

  .navbar-leftside {
    display: flex;
    gap: 0.9375rem; 
    align-items: center;
  }
  .navbar-avatar-background{
    // border: solid 1px var(--surface-50);
    border:solid 1px var(--gray-900);
    width: 55px;
    height: 50px;
    border-radius: 50%;
    display: flex
;
    justify-content: center;
    background-color:var(--surface-200);;
  .navbar-avatar{
    width: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: blueviolet; */
    background-size: cover;
  }
}

.navbar-avatar{
    width: 25px;
   
  
    /* background-color: blueviolet; */
    background-size: cover;
  }

.navbar-icon{
    font-size: 18px;
    font-family: "Fira Sans";
    // color: #5c677dc7;
    color: var(--orange-400);
}  

.navbar-icon-dark{
    font-size: 18px;
    font-family: "Fira Sans";
    // color: #dadee3cf;
    color: var(--orange-400);
}  



  .lightmode-text {
    display: none;
    // color: #4b5563 !important;
     color: rgba(255, 255, 255, 0.87) !important;
    font-size: 0.9375rem; 
    margin-top: -0.82px;
  }

  .darkmode-text {
    display: none;
    color: #4b5563 !important;
    // color: rgba(255, 255, 255, 0.87) !important;
    font-size: 0.9375rem; 
    margin-top: -0.82px;
  }

  .lightmode-icon {
    // color: #6b7280;
     color: rgba(255, 255, 255, 0.6);
  }

  .darkmode-icon {
    color: #6b7280;
    // color: rgba(255, 255, 255, 0.6);
  }

  .lightmode-icon:hover {
    // color: #23262b;
    color: rgba(255, 255, 255, 1);
  }

  .darkmode-icon:hover {
    // color: rgba(255, 255, 255, 1);
    color: #23262b;
  }

  .lightmode-block {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
  }

  .menuitem-clicked {
    border-radius: 0.375rem; 
    background: rgb(59 130 246) !important;
    color: #fff;

    .p-menuitem-text,
    .p-menuitem-icon {
      color: white;
    }
  }

  .p-menubar {
    justify-content: space-between;
    border: none;
    border-radius: 0rem;
    padding: 1rem 0.5rem;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2) !important;
  }

  .p-menubar > ul > li:not(:last-child) .p-menuitem-content {
    background: transparent !important;
  }

  .p-menubar > ul > li:not(:last-child) .p-menuitem-content:hover {
    background: rgb(59, 130, 246, 0.9) !important;
    color: #fff;

    .p-menuitem-text,
    .p-menuitem-icon {
      color: white !important;
    }
  }

  .p-menubar > ul > li:last-child .p-menuitem-content {
    background: transparent !important;
  }

  .p-menuitem-content .p-menuitem-link {
    padding: 0.75rem 0.75rem;
    font-size: 0.9375rem; 
  }

  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    top: 100%;
    z-index: 1;
  }

  .p-menubar > ul > li {
    margin-right: 1.25rem; 
  }

  .p-menubar > ul > li:last-child {
    margin-right: 0rem !important;
  }

  .theme-toggle-btn {
    color: #6b7280;
    transition: color 0.3s ease;
    background: transparent;
    border: none;
    padding: 0.675rem 0.75rem;
    cursor: pointer;

    &:hover {
      color: #23262b !important;
      transition: color 0.3s ease;
    }

    i {
      font-size: 1.0625rem; 
    }
  }
}

.navbar-light {
  .p-menubar {
    justify-content: space-between;
    border: none;
    border-radius: 0rem;
    padding: 1rem 0.5rem;
    background: white;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 60rem) { 
  .navbar {
    .lightmode-text {
      display: block;
    }
    .darkmode-text {
      display: block;
    }

    .p-menubar .p-menubar-root-list {
      right: 0.625rem !important; 
      width: 11.25rem !important; 
      left: auto;
    }

    .p-menubar .p-menubar-button {
      height: 2.5rem; 
      width: 2.5rem;  
    }
    .p-menubar .p-menubar-button:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem rgb(93 152 252 / 63%);
    }

    .p-menubar > ul > li {
      margin-right: 0rem;
    }

    .p-menubar > ul > li:last-child {
      margin-right: 0rem;
    }

    .p-icon {
      width: 2rem;
      height: 1.2rem;
    }

    .theme-toggle-btn {
      color: #4b5563;
      background: transparent;
      border: none;
      padding: 0.675rem 0.75rem;
      width: 100%;
      cursor: pointer;

      &:hover {
        background: rgb(59, 130, 246, 0.9);
        color: #fff;

        .lightmode-icon,
        .lightmode-text,
        .darkmode-icon,
        .darkmode-text {
          color: white !important;
        }
      }
    }
  }
}

@media screen and (max-width: 25rem) { 
  .navbar {
    .navbar-name {
      display: none;
    }

    .p-menubar {
      padding-left: 1.0625rem; 
    }
  }
}
