// @font-face {
//   font-family: "montserrat";
//   src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf")
//     format("opentype");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Fira Sans";
//   src: url("../../assets/fonts/FiraSans-Bold.ttf") format("opentype");
//   font-weight: normal;
//   font-style: normal;
// }

// .about-light {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;
//   background-size: cover;
//   padding-left: 60px;
//   padding-right: 60px;
//   background-color: #f4f4f4;
//   gap: 50px;
//   min-height: 900px !important;
//   height: 75vh;
//   background: linear-gradient(
//     180deg,
//     var(--gray-400) 0.5%,
//     #f4f4f4 0.5%,
//     #f4f4f4
//   );
// }

// .avatar-border {
//   width: 260px;
//   height: 340px;
//   border: 3px solid rgba(59, 130, 246, 0.85);
//   border-radius: 5px;
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
//   margin-top: 40px;
// }

// .avatar-image {
//   width: 260px;
//   height: 340px;
//   border-radius: 5px;
//   transform: translateX(30px) translateY(-30px);
//   background: url("../../assets/images/test.jpeg");
//   background-size: cover;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
// }

// .header {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 150px;
//   margin-top: 100px;
//   padding-left: 10px;
// }

// .text {
//   width: 55%;

//   .text-title {
//     font-family: "Fira Sans";
//     font-size: 40px;
//     margin-top: 0px;
//     display: inline-block;
//     border-bottom: 5px solid rgba(59, 130, 246, 0.85);
//     color: #4b5563;
//     width: 110px;
//     text-align: left;
//     margin-bottom: 20px;
//   }

//   .text-description {
//     text-align: left;
//     font-family: "montserrat";
//     color: #6b747b;
//     line-height: 24px;
//     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
//     font-size: 17px;
//   }
// }

// .skills {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   gap: 20px;
//   padding-left: 60px;
//   padding-right: 60px;
//   margin-top: 20px;
//   margin-bottom: 100px;
// }

// .skill {
//   display: flex;
//   flex-direction: column;
//   width: 120px;
//   height: 100px;
//   justify-content: center;
//   align-items: center;
// }

// .skill {
//   .html {
//     background-size: cover;
//     height: 40.8px;
//     width: 41.15px;
//   }

//   .skill-title {
//     font-family: "montserrat";
//     color: var(--bluegray-600);
//     font-weight: bold;
//     margin-bottom: 0px;
//   }
// }

// .midavatar-skills {
//   display: flex;
// }

// .midavatar {
//   display: none;
// }

// @media screen and (max-width: 960px) {

//   .about-light, .about-dark{
//     height:unset;
//     background: linear-gradient(
//     180deg,
//     var(--gray-400) 0.35%,
//     #f4f4f4 0.35%,
//     #f4f4f4
//   );
//   }

//   .avatar {
//     display: none;
//   }

//   .text {
//     width: unset;
//     .text-title {
//       display: block;
//       text-align: center;
//       margin-bottom: 50px;
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }

//   .midavatar-skills {
//     display: flex;
//     justify-content: center;

//     gap: 0px;
//   }

//   .skills {
//     padding-left: 0px;
//     padding-right: 0px;
//   }
//   .skill {
//     width: 100px;
//     height: 80px;
//     .skill-title {
//       font-size: 13px;
//     }
//   }

//   .skill {
//     font-family: "montserrat";
//     color: var(--bluegray-600);
//     font-weight: bold;
//     margin-bottom: 0px;
//   }

//   .midavatar {
//     display: block;
//   }
// }

// @media screen and (max-width: 750px) {
//     .about-light {
//     padding-left: 30px;
//     padding-right: 30px;
//     background: linear-gradient(
//     180deg,
//     var(--gray-400) 0.3%,
//     #f4f4f4 0.3%,
//     #f4f4f4
//   );
//   }
//   .skill {
//     width: 100px;
//     height: 80px;
//     .skill-title {
//       font-size: 13px;
//     }
//   }
// }

// @media screen and (max-width: 500px) {
//   .about-light {
//     padding-left: 30px;
//     padding-right: 30px;
//     background: linear-gradient(
//     180deg,
//     var(--gray-400) 0.3%,
//     #f4f4f4 0.3%,
//     #f4f4f4
//   );
//   }

//   .midavatar {
//     width: 240px;
//     height: 320px;
//   }

//   .avatar-border {
//     border: none;
//     width: 240px;
//     height: 320px;
//     margin-top: 0px;
//   }

//   .avatar-image {
//     width: 240px;
//     height: 320px;
//     border: 3px solid rgba(59, 130, 246, 0.85);
//     transform: translateX(0px) translateY(0px);
//   }

//   .skill {
//     width: 90px;
//     height: 70px;
//     .skill-title {
//       font-size: 12.5px;
//     }
//   }
// }

// @media screen and (max-width: 400px) {

//    .about-light {
//     padding-left: 30px;
//     padding-right: 30px;
//     background: linear-gradient(
//     180deg,
//     var(--gray-400) 0.2%,
//     #f4f4f4 0.2%,
//     #f4f4f4
//   );
//   }
//   .text .text-title {
//     font-size: 1.8rem;
//     width: 85px;
//   }

//   .text .text-description {
//     font-size: 15px;
//   }

//   .skills {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;
//     gap: 20px;
//     padding-left: 20px;
//     padding-right: 20px;
//     margin-top: 20px;
//     margin-bottom: 100px;
//     row-gap: 40px;
//     column-gap: 55px;
//     width: 100%;
//   }

//   .avatar-border {
//     border: none;
//     width: 220px;
//     height: 300px;
//     margin-top: 0px;
//   }

//   .avatar-image {
//     width: 220px;
//     height: 300px;
//   }

//   .midavatar {
//     width: 220px;
//     height: 300px;
//   }

//   .skill {
//     width: 70px;
//     height: 50px;
//     .skill-title {
//       font-size: 10px;
//     }
//   }
// }


@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../../assets/fonts/FiraSans-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.about-light {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  background-color: #f4f4f4;
  gap: 3.125rem;
  min-height: 56.25rem !important;
  height: 75vh;
  background: linear-gradient(
    180deg,
    var(--gray-400) 0.5%,
    #f4f4f4 0.5%,
    #f4f4f4
  );
}

.avatar-border {
  width: 16.25rem;
  height: 21.25rem;
  border: 0.1875rem solid rgba(59, 130, 246, 0.85);
  border-radius: 0.3125rem;
  box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.25);
  margin-top: 2.5rem;
}

.avatar-image {
  width: 16.25rem;
  height: 21.25rem;
  border-radius: 0.3125rem;
  transform: translateX(1.875rem) translateY(-1.875rem);
  background: url("../../assets/images/test.jpeg");
  background-size: cover;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.375rem;
  margin-top: 6.25rem;
  padding-left: 0.625rem;
}

.text {
  width: 55%;

  .text-title {
    font-family: "Fira Sans";
    font-size: 2.5rem;
    margin-top: 0rem;
    display: inline-block;
    border-bottom: 0.3125rem solid rgba(59, 130, 246, 0.85);
    color: #4b5563;
    width: 6.875rem;
    text-align: left;
    margin-bottom: 1.25rem;
  }

  .text-description {
    text-align: left;
    font-family: "montserrat";
    color: #6b747b;
    line-height: 1.5rem;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.1);
    font-size: 1.0625rem;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  margin-top: 1.25rem;
  margin-bottom: 6.25rem;
}

.skill {
  display: flex;
  flex-direction: column;
  width: 7.5rem;
  height: 6.25rem;
  justify-content: center;
  align-items: center;
}

.skill {
  .html {
    background-size: cover;
    height: 2.55rem;
    width: 2.571875rem;
  }

  .skill-title {
    font-family: "montserrat";
    color: var(--bluegray-600);
    font-weight: bold;
    margin-bottom: 0rem;
  }
}

.midavatar-skills {
  display: flex;
}

.midavatar {
  display: none;
}

@media screen and (max-width: 960px) {
  .about-light,
  .about-dark {
    height: unset;
    background: linear-gradient(
      180deg,
      var(--gray-400) 0.35%,
      #f4f4f4 0.35%,
      #f4f4f4
    );
  }

  .avatar {
    display: none;
  }

  .text {
    width: unset;

    .text-title {
      display: block;
      text-align: center;
      margin-bottom: 3.125rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .midavatar-skills {
    display: flex;
    justify-content: center;
    gap: 0rem;
  }

  .skills {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .skill {
    width: 6.25rem;
    height: 5rem;

    .skill-title {
      font-size: 0.8125rem;
    }
  }

  .skill {
    font-family: "montserrat";
    color: var(--bluegray-600);
    font-weight: bold;
    margin-bottom: 0rem;
  }

  .midavatar {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .about-light {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    background: linear-gradient(
      180deg,
      var(--gray-400) 0.3%,
      #f4f4f4 0.3%,
      #f4f4f4
    );
  }

  .skill {
    width: 6.25rem;
    height: 5rem;

    .skill-title {
      font-size: 0.8125rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .about-light {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    background: linear-gradient(
      180deg,
      var(--gray-400) 0.3%,
      #f4f4f4 0.3%,
      #f4f4f4
    );
  }

  .midavatar {
    width: 15rem;
    height: 20rem;
  }

  .avatar-border {
    border: none;
    width: 15rem;
    height: 20rem;
    margin-top: 0rem;
  }

  .avatar-image {
    width: 15rem;
    height: 20rem;
    border: 0.1875rem solid rgba(59, 130, 246, 0.85);
    transform: translateX(0rem) translateY(0rem);
  }

  .skill {
    width: 5.625rem;
    height: 4.375rem;

    .skill-title {
      font-size: 0.78125rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .about-light {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    background: linear-gradient(
      180deg,
      var(--gray-400) 0.2%,
      #f4f4f4 0.2%,
      #f4f4f4
    );
  }

  .text .text-title {
    font-size: 1.8rem;
    width: 5.3125rem;
  }

  .text .text-description {
    font-size: 0.9375rem;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 6.25rem;
    row-gap: 2.5rem;
    column-gap: 3.4375rem;
    width: 100%;
  }

  .avatar-border {
    border: none;
    width: 13.75rem;
    height: 18.75rem;
    margin-top: 0rem;
  }

  .avatar-image {
    width: 13.75rem;
    height: 18.75rem;
  }

  .midavatar {
    width: 13.75rem;
    height: 18.75rem;
  }

  .skill {
    width: 4.375rem;
    height: 3.125rem;

    .skill-title {
      font-size: 0.625rem;
    }
  }
}