@font-face {
  font-family: "Fira Sans";
  src: url("../../assets/fonts/FiraSans-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}



.contact{
    
  display: flex;
  flex-direction:column;
  // justify-content: center;
  align-items: center;
  
  
// background: linear-gradient(180deg, #dde1e9 5px, rgb(233 233 233) 5px, rgb(233 233 233) 100%);
// background-color: #b8c2d257;
background-color: #dcdcdc57;
  min-height: 677px !important;
  // height: 75vh;
  width:100%;
}


.contact-title{

   font-family: "Fira Sans";
   font-size: 2.5rem;
   margin-top: 6.25rem;
   display: inline-block;
   border-bottom: 0.3125rem solid rgba(59, 130, 246, 0.85);
   color: #4b5563;
  //  width: 9.2rem;
   text-align: left;
   margin-bottom: 1.25rem;
}

.form-title {
    // width: 100%;
    font-family: "Fira Sans";
    // color: #4b5563;
    color:#609af8;
    font-size: 27px;
    font-style: italic;
    // text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.1);
    font-weight: 400;
    /* margin-top: 20px; */
}

.contact-text {
    margin-top: 20px;
    font-size: 19px;
    text-align: center;
    font-family: "montserrat";
    color: #6b747b;
    line-height: 1.5rem;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.1);
    // font-size: 1.0625rem;
    width: 60%;
}

.contact-form {
    display:flex;
    flex-direction:column;
    width: 70%;
    gap:15px;
    // height: 350px;
    // border: solid 1px var(--bluegray-400);
    border: solid 1px var(--bluegray-200);
    margin-top: 60px;
    margin-bottom: 80px;
    border-radius: 20px;
    background-color: var(--surface-b);
    // justify-content: center;
    align-items: center;
    padding:30px;

    .sendButtonIcon{
      margin-right:10px;
      font-size:14px;
    }

    .name, .email, .message{
      // width:80%;
      width:100%;
      margin-top:15px;
      .p-inputtext{
        width:100%
      }

      .p-inputtext:enabled:focus {
    
    box-shadow: 0 0 0 0.2rem var(--blue-100) !important;
    
}

.p-inputtext:enabled:hover {
    border-color: var(--blue-400);
}
    }

    // .name{
    //   margin-top:30px;
    // }

    //  .email, .message{
    //   margin-top:25px;

    //  }

    .message{

      .p-inputtextarea {
  resize: vertical;
}
    } 

   .name-error,.email-error,.message-error{
    
    .p-component{
      border: 1px solid red;
      border-color:red;
    
    }

    .p-inputtext:enabled:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color:red !important;
}

 .p-inputtext:enabled:hover {
  outline: none !important;
  box-shadow: none !important;
  border-color:red !important;

}

   }  


  .contact-submit.p-button{
  // margin-top:30px;
  
  // background: rgba(59, 130, 246, 0.85);
  // border: 1px solid rgba(59, 130, 246, 0.85);
  // background: rgba(59, 130, 246, 0.85);
  // border: 1px solid rgba(59, 130, 246, 0.85);
  background:#609af8;
  border:1px solid #609af8;
  width:25%;
  margin-top: 25px;

  .p-button-info:enabled:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--blue-400), 0 1px 2px 0 rgb(0, 0, 0) !important;
}
  
} 

.contact-submit.p-button.p-button-info:enabled:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--blue-400), 0 1px 2px 0 rgb(0, 0, 0) !important;
}

.name-block,.email-block,.message-block{
  // margin-bottom:30px
  position:relative;
  width:80%;
}


// .error-block{
//   display:flex;
//   flex-direction:column;
//   justify-content:left;
//   margin-top:20px;
//   margin-bottom:20px;
//   width:80%;
// }

.error{
  position:absolute;
  // width:80%;
  top:-11px;
  right:0%;
  text-align:left;
  margin-top:10px;
  margin-bottom:15px;
  color:red;
  font-size:11px;
  }




}

.dialog-login{
  min-width:460.425px !important;
  .p-button{
    
    background: rgb(59 130 246) !important;
    border: 1px solid rgb(59 130 246) !important;
    min-width:94.825px;
  }

  .p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--blue-400), 0 1px 2px 0 rgb(0, 0, 0) !important;
}

  .circleCheck{
    color: green;
    margin-right: 10px;
    font-size: 20px;
  }

   .xMark{
    color: red;
    margin-right: 10px;
    font-size: 20px;
  }

  .paperPlane{
    margin-right: 10px;
    font-size: 16px;
    color: var(--bluegray-700)
  }


}


@media screen and (max-width: 960px) {

  .contact-form {
    
    width: 90%;

    
}
}


@media screen and (max-width: 650px) {

  .contact-form {
    
    

    .contact-submit.p-button{
   
   
    width:50%;
   
  }

  .name-block,.email-block,.message-block{
  
  
  width:100%;
}
}
}


@media screen and (max-width: 500px) {

.contact-form{

  padding-left:15px;
  padding-right:15px;

  .form-title {
    font-family: "Fira Sans";
    color: #609af8;
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
    width: 90%;
    text-align: center;
    
}

 .p-button{
    font-size:0.9rem;
  }


  .sendButtonIcon {
   
    font-size: 13px;
}
} 

.dialog-login{
    min-width:unset !important;
    width:90%;
  }  





}


@media screen and (max-width: 400px) {

  .contact{
    .contact-title{

      font-size: 28.8px;

    }

    .contact-text{
      font-size:17px;
    }
  }

  .contact-form .p-inputtext {
    height: 2.5rem;
    font-size: 0.875rem;
    padding: 0.5rem;
  }
  
 .contact-form .p-inputtextarea.p-inputtext {
    height:12rem;
    font-size: 0.875rem;
    padding: 0.5rem;
  }
  

  .contact-form .form-title{

    font-size:20px;
  }

  .contact-form {
    .name-block,.email-block,.message-block{


      .p-float-label {
      margin-top: 1.25rem;
    }

    .p-float-label label {
      font-size: 0.75rem;
    }

    .p-float-label:has(input:focus) label, .p-float-label:has(input.p-filled) label, .p-float-label:has(input:-webkit-autofill) label, .p-float-label:has(textarea:focus) label, .p-float-label:has(textarea.p-filled) label, .p-float-label:has(.p-inputwrapper-focus) label, .p-float-label:has(.p-inputwrapper-filled) label {
    top: -.55rem;
    font-size: 11px;
}

    }
 
    .name-block,.email-block{   
 .error {
    position: absolute;
    top: unset;
    bottom:-30px;
    font-size: 9.5px;
    right:4px;
}
 }

  .message-block{
    .error{
      bottom:-25px !important;
      position: absolute;
      top: unset;
      // bottom:-30px;
      font-size: 9.5px;
      right:4px;
    }
  
}

.contact-submit.p-button {
        height:37px;
    }

    }


      


.dialog-login .p-dialog-content {
  padding: 1rem;
  font-size: 0.9rem;
}

.dialog-login .p-dialog-header {
  padding: 1.2rem 1rem;
  font-size: 1rem;
}

.dialog-login .p-dialog-footer {
  padding: 1.5rem 1rem;
}

.p-dialog .p-dialog-header .p-dialog-title {
   
    font-size: 1.15rem;
}

.dialog-login .paperPlane {
  
    font-size: 15px;

  
  }

 .dialog-login{
  .p-button {
   
    font-size: 0.9rem;
    height: 38px;
    min-width: 90px;
}

.p-button .p-button-icon-left {
    margin-right: 5px;
    font-size: 13px;
}

  .circleCheck{
    
    font-size: 17px;
  }

   .xMark{
    
    font-size: 17px;
  }
 } 


}