@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../../assets/fonts/FiraSans-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DotMatrix";
  src: url("../../assets/fonts/DotMatrix-BoldItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


.footer-light,.footer-dark{
    display:flex;
    // flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100px;
    
    // padding-top:20px;
    // gap:10px;

}

.footer-light{
background-color:#e5e7eb;
}

.footer-dark{
background-color:#111827;
.footer-rights, .footer-follow{
    color:#607597f7;
}
.github,.linkedin{
    color:#546e90;
}

}
.footer-text{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
    gap:10px;
}

.footer-rights{

    display:flex;
    justify-content: center;
    // font-family:"montserrat";
    font-family: sans-serif;
    color: var(--gray-700);
    

}

.footer-follow{

      font-family: sans-serif;
    color: var(--gray-700);
}

// .footer-name{
//     font-family: "Dotmatrix" !important;
// }

.github,.linkedin{
    vertical-align: bottom;
}

@media screen and (max-width: 500px) {


.footer-rights {

    font-size:14px;
}

.footer-follow{
    font-size:14px;
}

.github,.linkedin{
    font-size:0.9rem;
}



}   


@media screen and (max-width: 400px) {


.footer-rights {

    font-size:12px;
}

.footer-follow{
    font-size:12px;
}

.github,.linkedin{
    font-size:0.8rem;
}



}   
