

.home-light{

   background-image: url("../../assets/images/home-light.jpg");
   background-size: cover;
   height:677px;
   

   
}

.home-dark{
   background-image: url("../../assets/images/home-dark.jpg");
   background-size: cover;
   height:677px;

}