@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DotMatrix";
  src: url("../../assets/fonts/DotMatrix-BoldItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cabin";
  src: url("../../assets/fonts/Cabin-VariableFont_wdth,wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nexa";
  src: url("../../assets/fonts/Nexa-Heavy.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.home-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


.home-developer {
  
  background-size: contain;
  height: 340px;
  width: 340px;
  align-content: center;
  background-repeat: no-repeat;
  transform: translateY(-50px);
  opacity: 0;
  transition:
    transform 0.6s ease-out,
    opacity 0.6s ease-out;
}

.home-developer.moved {
  opacity: 1;
  transform: translateY(0px);
  
}


.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.home-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 0px;
  align-items: center;

  .home-title {
    color: var(--surface-600);;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: "nexa", sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    line-height: 1.2;
    transform: translateX(-50px);
    opacity: 0;
    transition:
      transform 1s ease-out,
      opacity 0.6s ease-out;
  }

  .home-title.moved {
    transform: translateX(0px);
    opacity: 1;
  }

  .home-subtitle {
    font-size: 3.2rem;
    padding-top: 15px;
    font-family: "nexa";
    color: var(--surface-600);
    text-align: center;
    font-weight: bolder;
    line-height: 1.2;
    width: 82%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: translateX(50px);
    opacity: 0;
    transition:
      transform 1s ease-out,
      opacity 0.6s ease-out;
  }

  .home-subtitle.moved {
    transform: translateX(0px);
    opacity: 1;
  }

  .home-paragraph {
    font-size: 1.4rem;
    font-family: "montserrat";
    color: black;
    text-align: center;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    opacity: 0;

    transition: opacity 1.2s ease-out;
    .react{
      color: rgb(59, 130, 246);
      
      font-style:italic;
      font-weight:bolder;
    }

    .express{
     color: rgb(59, 130, 246);
    
      font-style: italic;
      font-weight:bolder;
      
    }
  }

  .home-paragraph.moved {
    opacity: 1;
  }
  .home-small-image {
    display: none;
    background-image: url("../../assets/images/home-developer6.png");
    height: 270px;
    width: 270px;
  }

  .home-mid-image {
    display: none;
  }

  .button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50px);
    opacity: 0;
    transition:
      transform 0.6s ease-out,
      opacity 0.6s ease-out;
  }

  .button-section.moved {
    transform: translateX(0px);
    opacity: 1;
  }
  .home-name {
    color: rgb(59, 130, 246);
  }

  .p-button {
    background-color: rgb(59, 130, 246);
    color:white;
    border: none;
    background: rgb(59, 130, 246);
    margin: 20px;
    margin-top:70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
  }

  .p-button-label {
    padding: 0px;
  }

  .p-button:not(:disabled):hover {
    background: rgb(35, 119, 255);
    color: #ffffff;
  }
}


.home-light {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/home-light.jpg");
  background-size: cover;
  min-height: 677px !important;
  height: 60vh;

  // .home-content{
    .home-image{
    .home-developer{
      background-image: url("../../assets/images/home-developer9.png");
    }
  }
// }
}

.home-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/home-dark1.png");
  background-size: cover;
  min-height: 677px !important;
  height: 60vh; 
  .home-description {
  

  .home-title {
    color: var(--surface-600);
    
  }

  .home-subtitle {
    
    color: var(--surface-600);
    
  }

  .home-paragraph {
    
    color: var(--surface-900);;
   
  }

  .p-button{
     color: #ffffff;
     background:rgb(59, 130, 246);
     .p-button-icon{
       color: #ffffff;
     }
  }


 
}
// .home-content{
 .home-image{
    .home-developer {
    background-image: url("../../assets/images/amjad-portfolio-image-Blue-glow1.png");
    height: 348px;
    width: 343.5px;
    }
}
// }
  
}



@media screen and (max-width: 960px) {
  .home-light,.home-dark {
    min-height: unset !important;
    height: 727px;
  }
  .home-developer {
    display: none;
  }

  .home-description {
    margin-top: 0px;
    margin-bottom:50px;
    .home-small-image {
      display: block;
      background-image: url("../../assets/images/home-developer9.png");
      height: 245px;
      width: 200px;
      transform: translateX(50px);
      opacity: 0;
      transition:
        transform 0.6s ease-out,
        opacity 0.6s ease-out;
      background-size: cover;
    }
    .home-small-image.moved {
      transform: translateX(0px);
      opacity: 1;
    }

    .p-button{
      margin-top:30px
    }

    .button-section {
      margin-top: 40px;
      gap: 40px;
      transform: translateY(0px);
      opacity: 1;
    }

    .button {
      opacity: 0;
      transform: translateX(-50px);
      transition:
        transform 0.6s ease-out,
        opacity 0.6s ease-out;
    }

    .button.moved {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .home-dark{
    .home-description{
      .home-small-image{
        background-image: url("../../assets/images/amjad-portfolio-image-Blue-glow1.png");
        height:250px;
        width:205px
      }

    }
  }
}

@media screen and (max-width: 750px) {
  .home-description {
    margin-top: 0px;
    .home-paragraph {
      font-size: 1.3rem;
    }

    .home-title {
      font-size: 2.8rem;
    }

    .home-subtitle {
      font-size: 2.8rem;
      width: 75%;
    }

    .home-small-image {
      height: 245px;
      width: 200px;
    }

    .button-section {
      transform: translateY(0px);
      opacity: 1;
    }

    .p-button {
      height: 45px;
      font-size: 15px;

      .p-button-icon-right {
        font-size: 15px;
      }
    }
  }

  
}

@media screen and (max-width: 615px) {
  .home-light, .home-dark {
    height: 930px;
    align-items:unset;
  }

// .home-light, .home-dark {
//         height: 850px;
//     }

  .home-description {
    margin-top: 70px;
    .home-title {
      transform: translateX(-20px);
    }
    .home-subtitle {
      transform: translateX(20px);
    }

    .p-button {
      padding-left: 50px;
      padding-right: 50px;
    }

    .home-small-image {
      display: none;
    }

    .home-mid-image {
      display: block;
      background-image: url("../../assets/images/home-developer9.png");
      height: 245px;
      width: 200px;
      transform:translateX(20px);
      opacity:0;
      margin-top: 50px;
      background-size: cover;
      transition:transform 0.6s ease-out,
      opacity 0.6s ease-out
    }
    .home-mid-image.moved{
      transform:translateX(0px);
      opacity:1;

    }

    .button {
      opacity: 0;
      transform: translateY(50px);
      transition:
        transform 0.6s ease-out,
        opacity 0.6s ease-out;
    }

    .button.moved {
      opacity: 1;
      transform: translateY(0px);
    }
  }


}
.home-dark{
    .home-description{
      .home-mid-image{
        background-image: url("../../assets/images/amjad-portfolio-image-Blue-glow1.png");
        height:250px;
        width:205px;
      }

    }
  }
@media screen and (max-width: 500px) {
  // .home-content {
  //   //  padding-right: 20px;
  //   margin-top: -40px;
  // }

  .home-light,.home-dark{
    height:850px;
    align-items: unset;
  }

  .home-description {
    margin-top: 0px;
    margin-top: 50px;
    .home-title {
      transform: translateY(-30px);
    }
    .home-subtitle {
      transform: translateY(30px);
    }

    .home-subtitle.moved {
      transform: translateY(0px);
    }

    .home-subtitle.moved {
      transform: translateY(0px);
    }

    .p-button {
      padding-left: 50px;
      padding-right: 50px;
      font-size: 14px;

      .p-button-icon-right {
        font-size: 14px;
      }
    }

    .home-title {
      font-size: 2.4rem;
    }

    .home-subtitle {
      font-size: 2.4rem;
    }

    .home-paragraph {
      font-size: 1.2rem;
      width: 90%;
    }

    .home-mid-image {
      height: 245px;
      width: 200px;
    }
  }
}

@media screen and (max-width: 400px) {
  // .home-light {
  //   height: 677px;
  // }
  // .home-dark{
  //   height: 677px;
  // }

  // .home-content {
  //   padding-right: 0px;
  //   margin-top: -40px;
  // }

  .home-light,.home-dark{
    height:750px;
  }

  .home-description {
    padding-left: 0px;
    margin-top:60px;
    .home-title {
      transform: translateY(-20px);
    }
    .home-subtitle {
      transform: translateY(20px);
    }

    .p-button {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 13px;
      height: 40px;

      .p-button-icon-right {
        font-size: 13px;
      }
    }

    .home-title {
      font-size: 1.8rem;
    }

    .home-subtitle {
      font-size: 1.8rem;
      padding-top: 15px;
    }

    .home-paragraph {
      font-size: 1rem;
      width: 85%;
    }

    .home-mid-image {
      height: 220px;
      width: 160px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .button-section {
      margin-top: 0px;
      gap: 0px;
    }
  }

 .home-dark{
    .home-description{
      .home-mid-image{
        background-image: url("../../assets/images/amjad-portfolio-image-Blue-glow1.png");
        height: 225px;
        width: 165px;
      }

    }
  } 
}
