body{
    margin:0px;
}


.home {
  scroll-margin-top: 70px; 
}

.about {
  scroll-margin-top: 70px; 
}

.projects {
  scroll-margin-top: 70px; 
}

.contact {
  scroll-margin-top: 70px; 
}



@media screen and (min-width: 1650px) {
   html{
    font-size: 20px !important;
  }
   
}

@media screen and (min-width: 2000px) {
  html{
    font-size: 24px !important;
  }
   
}




@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}